<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
    <!-- spring配置 业务逻辑有关的配置 -->

    <!-- 扫描包 -->
    <context:component-scan base-package="com.ming.service"/>
    <!-- 引用配置文件 -->
    <context:property-placeholder location="classpath:dbconfig.properties" />



    <!-- 数据源的配置 -->
    <bean id="DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="user" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <!-- mybatis整合   start -->
    <bean id="sqlsessionfactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 指定mapper配置文件 -->
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
        <property name="dataSource" ref="DataSource"></property>
        <!-- 指定mapper文件 -->
        <property name="mapperLocations" value="classpath*:mapper/*.xml"></property>
    </bean>

    <!-- 将mybatis加入到ioc容器中 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <!-- 扫描所以dao实现到ioc容器中 -->
    <property name="basePackage" value="com.ming.dao"></property>
</bean>
    <!-- mybatis整合    end -->

    <!-- 事务管理器配置 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 引入数据源 -->
        <property name="dataSource" ref="DataSource"></property>
    </bean>

    <!-- 开启注解的事务 -->
    <aop:config>
        <!-- 切点表达式 -->
        <aop:pointcut expression="execution(* com.ming.service..*(..))" id="tx"/>
        <!-- 事务增强 -->
        <aop:advisor advice-ref="advice" pointcut-ref="tx"/>
    </aop:config>
    <!-- 事务增强 -->
    <tx:advice id="advice" transaction-manager="transactionManager">
        <tx:attributes>
            <!-- 所有方法都会增强 -->
            <tx:method name="*"/>
            <!-- 查询方法优化 -->
            <tx:method name="get*" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <!-- spring 核心配置 （事务配置 数据源 mybatis） -->
    <import resource="provide.xml"></import>
</beans>
